@import url('https://fonts.googleapis.com/css?family=Material+Icons|Work+Sans:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
body {
  overflow: hidden;
  background: #F8F8FA;
}
.roulette {
  font-family: 'Inter', sans-serif;
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
.roulette .shadow {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: inset 0px 2px 2px rgba(37, 38, 49, 0.03), inset 0px 4px 4px rgba(37, 38, 49, 0.03), inset 0px 8px 8px rgba(37, 38, 49, 0.03), inset 0px 16px 16px rgba(37, 38, 49, 0.03), inset 0px 32px 32px rgba(37, 38, 49, 0.03), inset 0px 64px 64px rgba(37, 38, 49, 0.03);
}
.roulette .markers {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  overflow: hidden;
  border-radius: 100%;
}
.roulette .markers .marker {
  position: absolute;
  width: 0;
  height: 0;
  top: -200px;
  left: 200px;
  transform-origin: 0% 400px;
  color: #F8F8FA;
  border: 0 solid transparent;
}
.roulette .markers .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 1em;
  border-color: transparent transparent transparent #007bff;
  position: absolute;
  border-left-color: #F8F8FA;
  top: 50%;
  left: -1px;
  margin-top: -1em;
}
.roulette .spinner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  transform: rotateZ(0deg);
  /*performance boost*/
  backface-visibility: hidden;
}
.roulette .spinner .item {
  position: absolute;
  width: 0;
  height: 0;
  top: -200px;
  left: 200px;
  transform-origin: 0% 400px;
  border: 0 solid transparent;
}
.roulette .spinner .item .label {
  display: block;
  position: absolute;
  color: #fff;
  font-weight: 800;
  top: 0;
  left: 0;
  white-space: nowrap;
  transform-origin: 0 0;
  font-size: 0.8em;
}
.roulette .spinner .item .label i, .roulette .spinner .item .label .text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1em;
  text-indent: 0;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20px, -50%);
}
.roulette .spinner .item .label i {
  margin-right: 0.1em;
}
.roulette .button {
  width: 10em;
  height: 10em;
  line-height: 1.6em;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
  font-weight: 800;
  z-index: 998;
  position: absolute;
  background: #FFF;
  border: none;
  border-radius: 100%;
  color: #252631;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 2px rgba(37, 38, 49, 0.03), 0px 4px 4px rgba(37, 38, 49, 0.03), 0px 8px 8px rgba(37, 38, 49, 0.03), 0px 16px 16px rgba(37, 38, 49, 0.03), 0px 32px 32px rgba(37, 38, 49, 0.03), 0px 64px 64px rgba(37, 38, 49, 0.03);
  text-align: center;
  transition: transform 0.15s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.roulette .button:hover {
  color: inherit;
}
.roulette .button span {
  display: block;
  margin-top: 2.6em;
  font-size: 1.6em;
  letter-spacing: -0.02em;
}
.roulette.busy .button {
  transform: scale(0.9);
  box-shadow: 0px 2px 2px rgba(37, 38, 49, 0.03), 0px 4px 4px rgba(37, 38, 49, 0.03), 0px 8px 8px rgba(37, 38, 49, 0.03), 0px 16px 16px rgba(37, 38, 49, 0.03), 0px 32px 32px rgba(37, 38, 49, 0.03), 0px 64px 64px rgba(37, 38, 49, 0.03);
  color: #0066FF;
  cursor: default;
}
/* CUSTOM LABELS */
.roulette .spinner .item[data-type="quiz"] .label {
  font-size: 1.2em;
}
.roulette .spinner .item[data-type="question"] .label {
  font-size: 1.3em;
  font-weight: 600;
}
.roulette .spinner .item[data-type="replay"] .label .text {
  font-size: 0.6em;
  white-space: initial;
  width: 1em;
  text-align: center;
  line-height: 1.2;
}
.roulette .spinner .item[data-type="replay"] .label i {
  font-size: 1.5em;
}
.roulette .spinner .item[data-type="time"] .label i {
  font-size: 1.5em;
}

#password-dialog {
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
#password-dialog .dialog {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#password-dialog input {
  margin-bottom: 10px;
}
#main-content {
  display: none;
  padding: 20px;
}

